.swiper-slide {
  width: fit-content !important;
  height: 100% !important;
}

.swiper-wrapper {
  align-items: flex-end !important;
  justify-content: space-between !important;
  gap: 29px !important;
}
