.app {
  width: 100%;
  padding: 20px;
}

.card-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.cards {
  width: 100px;
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
}

button {
  margin-top: 10px;
}
